<div class="event-module">
  <div class="event-image" style="background-image: url({{image}})"></div>
  <h4 class="text event-date">{{start}}<br>{{promoter}}</h4>
  <h2 class="text event-artist">{{artists}}</h2>
  <h4 class="text event-room">{{room}}<h4>
  <h4 class="text event-price">{{price}}</h4>
  <img class="barcode" src="../images/barcode.png" alt="barcode.png">
  <button class="button" id={{eventbriteID}} type="button">Get Tickets</button>
</div>
